*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url("https://wallpapersmug.com/download/3840x2160/7a22c5/forest_mountains_sunset_cool_weather_minimalism.jpg");
    background-size: 100% 100%;
}

h3{
    background-color: #3d6089;
    color: whitesmoke;
    width: 100%;
    font-size: 38px;
    line-height: 10vh;
    text-align: center;
}

.inp{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input{
    height: 38px;
    width: 66%;
    margin-bottom: 30px;
    font-size: 25px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1891b6;
    color:whitesmoke;
    height: 40px;
    width: 150px;
    font-size: 30px;
    margin-bottom: 30px;
    padding: 4px;
    color: whitesmoke;
}

.con{
    background-color: rgba(0, 0, 0,0.6);
    margin: auto;
    width: 80%;
    border-radius: 15px;
    padding: 15px;
    display: none;
    color: wheat;
}

.agg{
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 5px;
}

h2{
    font-size: 40px;
    text-align:center;
}

.desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.feels{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

@media screen and (max-width:760px){
    body{
        height: 100vh;
        width: 100%;
        background-image: url("https://wallpapersmug.com/download/3840x2160/7a22c5/forest_mountains_sunset_cool_weather_minimalism.jpg");
        background-size: 100% 100%;
    }
    
    h3{
        background-color: #3d6089;
        color: whitesmoke;
        width: 100%;
        font-size: 28px;
        line-height: 5vh;
        text-align: center;
    }
    
    .inp{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    
    input{
        height: 38px;
        width: 66%;
        margin-bottom: 70px;
        font-size: 25px;
    }
    
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1891b6;
        color:whitesmoke;
        height: 40px;
        width: 150px;
        font-size: 30px;
        margin-bottom: 70px;
        padding: 4px;
        color: whitesmoke;
    }
    
    .con{
        background-color: rgba(0, 0, 0,0.8);
        margin: auto;
        width: 80%;
        border-radius: 15px;
        padding: 15px;
        display: none;
        color: wheat;
    }
    
    .agg{
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 5px;
    }
    
    h2{
        font-size: 40px;
        text-align:center;
    }
    
    .desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .desc img{
        height: 170px;
    }
    
    .feels{
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
    }
}